<!DOCTYPE html>
<html>
<head>
    <title>Vaada World - Ranking</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Ranking</h1>
    <table class="rank-table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for index, user in enumerate(users) %}
            <tr>
                <td>{{ index + 1 }}</td>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
